.book {
  border: 1px solid black;
  width: 30%;
  height: 200px;
  background-color: #b9936c;
  display: flex;
  margin: 20px;
}

.frontCover {
  height: 200px;
}

.bookInfo {
  background-color: #e6e2d3;
  width: 200px;
  height: 200px;
  font-size: 20px;
}
