.book {
  border: 1px solid black;
  width: 450px;
  height: 300px;
  background-color: blue;
  display: flex;
}

.frontCover {
  height: 250px;
}

.bookInfo {
  background-color: red;
  width: 200px;
  height: 300px;
}
